.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);


  .tags {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 70%;
  }

  .tags span {
    background: gray;
    margin-left: 4px;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 0.8em;
  }

  .tags span a {
    color: white;
    text-decoration: none;

    &:hover {
      color: red;
    }

    &.add:hover {
      color: blue;
    }
  }
}
